.container{
    margin: 125px;
    border: 2px solid #343434;
    padding: 100px;
    margin-top: 0;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 0;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 1;
    padding-bottom: 1;
}
#imgArthur{
    width: 300px;
    height: 200px;
    border-radius: 30px;
}